<div class="row">
    <div class="col-md-12">
        <h1>{{data.title}}</h1><br>
        <img src="{{data.img}}" alt="{{data.alt}}">
        {{#if data.transcript}}
        <pre>transcript:<br>{{data.transcript}}</pre>
        {{/if}}
        <p class="viewCount"><br>total view count on this site: {{viewCount}}</p>
        <p><br>released on: {{data.day}}/{{data.month}}/{{data.year}}</p>
    </div>
</div>