<div class="row">
    <div class="col-md-12">
        <p>{{data.title}}</p>
        <img src="{{data.img}}" alt="{{data.alt}}">
        {{#if data.transcript}}
        <pre>transcript:<br>{{data.transcript}}</pre>
        {{/if}}
        <p><br>released on: {{data.day}}/{{data.month}}/{{data.year}}</p>
    </div>
</div>